* {
  margin: 0;
}

.bg-container {
  background-color: #161625;
  font-family: roboto;
  padding: 40px;
  padding-bottom: 100px;
  /* height: 100vh; */
}

.logo-name-container {
  display: flex;
}

.logo-image {
  width: 40px;
  margin-right: 15px;
}

.logo-name {
  color: #2cc6c6;
}

.main-heading {
  color: #cbd5e1;
}

.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.failure-image-container {
  display: flex;
  justify-content: center;
}

.failure-image {
  width: 50%;
  margin-bottom: 50px;
}

.failure-heading {
  color: #ffffff;
}
